/*  css file */
body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    color: magenta;
    text-align: center;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 185, 255);
  }

  .border {
    border: 1px solid #dee2e6;
  }
  
  .border-thick {
    border-width: 3px;
  }